<script>
    
            $(document).ready(function () {
                //Stop people from typing
                $('.spinner input').keydown(function (e) {
                    e.preventDefault();
                    return false;
                });
                var minNumber = 0;
                var maxNumber = 1000;
                $('.spinner .btn:first-of-type').on('click', function () {
                    if ($('.spinner input').val() == maxNumber) {
                        return false;
                    } else {
                        $('.spinner input').val(parseInt($('.spinner input').val(), 10) + 1);
                    }
                });
    
                $('.spinner .btn:last-of-type').on('click', function () {
                    if ($('.spinner input').val() == minNumber) {
                        return false;
                    } else {
                        $('.spinner input').val(parseInt($('.spinner input').val(), 10) - 1);
                    }
                });
            });
        </script>
   <a class="back" href="javascript:void(0);"  ng-click="$state.go('menu',{restaurantId:$stateParams.restaurantId})">
    <img alt="" />
</a>
<div class="container">

    <form>

        <div class="col-md-8 col-sm-8 col-xs-12 main_cart">
            <h3 class="cart_title">{{'CheckOut' | translate}}</h3>

            <table width="100%" border="0">
                <tbody>
                    <tr>
                        <th>{{'Item' | translate}}</th>
                        <th>{{'NUM' | translate}}</th>
                        <!-- <th>{{'Size' | translate}}</th> -->
                        <th>{{'Price' | translate}}</th>
                        <th></th> 
                    </tr>
                    <tr ng-repeat="c in cartCtrl.repeatCart">
                        <td>
                            <div class="col-md-4 col-sm-4 col-xs-4 no_padding">

                                <img ng-src="{{c.itemobj.imageURL}}" />
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <h3> {{c.itemobj.itemNameDictionary[selectedLanguage] | limitTo:20}}</h3>
                                <p>
                                   {{c.itemobj.itemDescriptionDictionary[selectedLanguage] | limitTo:63}}
                                </p>
                            </div>

                        </td>
                       
                            <td>   
                                    <span ><img  class="arrow_img" ng-click="removeCounter(c,cartCtrl.index = $index)" style="width: 21px!important;height: 21px!important;" ng-src="../assets/img/Subtract2.png" /></span>
                                <input style="width: 36px;"  type="number"  ng-model="c.itemobj.count" readonly="readonly">
                                <span><img class="arrow_img" ng-click="addCounter(c,cartCtrl.index = $index)" style="width: 21px!important;height: 21px!important;" ng-src="../assets/img/plus2.png" /></span>
        

                                    <!-- <input type="text" class="form-control counter" value="{{c.itemobj.count}}" >
                                    <div class="input-group-btn-vertical">
                                        <div class="btn btn-default left_arrow"><i class="fa fa-caret-up"></i></div>
                                        <div class="btn btn-default right_arrow"><i class="fa fa-caret-down"></i></div>
                                    </div> --> 
                        </td>
                        <td>
                                <!-- {{c.size.sizeName}} -->
                            </td> <td><span class="bold_td">{{c.size.price*c.itemobj.count}} {{'SAR' | translate}}</span></td>
                        <td>
                            <!-- <input class="btn btn-default" type="button" ng-click="viewItemDetail(c)" value="{{'Add' | translate}}" data-lity-target="#inline2" data-lity/> -->
                            <!-- <input class="btn btn-default" type="button" ng-click="updateItemCart(c,cartCtrl.index = $index)" value="{{'EDIT' | translate}}" data-lity-target="#inline2" data-lity/> -->
                            <input class="btn btn-danger" type="button" ng-click="removeItemCart(c)" value="{{'Remove' | translate}}" />
                            <!--<a href="javascript:void(0);" ng-click="viewItemDetail(c)" data-lity-target="#inline2" data-lity><img src="assets/img/view.png" style="width: 9%;" alt="" /></a>-->
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>

            <hr />

            <div class="footer">

                <div class="checkout_btn">
                    <input type="button" class="" value="{{'CheckOut' | translate}}" ng-click="checkOut()">

                </div>

                <div class="cart">
                    <h4>{{'Total' | translate}}</h4>
                    <h5>{{totalItem}} {{'SAR' | translate}}</h5>

                </div>
                <!--<div class="cart">
                    <h4>Quantity</h4>
                    <h5>{{cartCtrl.itemCount}} </h5>

                </div>-->
            </div>
        </div>
    </form>
</div>

<div id="inline2" class="main_lity lity-hide" ng-show="cartCtrl.isItemLoaded">

    <div class="col-sm-6 col-xs-6 col-md-6 header_pop">
        <img ng-src="{{cartCtrl.itemdetails.imageURL}}" />
        <div class="menu_plus">
            
                <div  class="radio" ng-repeat="(key,val) in cartCtrl.itemdetails.sizes">
                        <input type="radio"  ng-click="radioSizeClick(val,cartCtrl.itemDetails.itemID)" ng-model="$parent.checkradioasd" ng-value='val.sizeId'  >
                        {{val.price}}
                        <span>{{val.sizeName}}</span>
                   </div>
        
        </div>
        <div class="main_counter">
                <input type="number" ng-model="selectedCount" class="form-control counter" value="1" >
                
                       <input type="button" class="btn add" ng-click="editItemToCart(cartCtrl.itemdetails)" value="{{'Edit' | translate}}" ng-show="displayEditBtn" data-lity-close>
            </div>

    </div> 
    <!-- <select ng-model="selectedCount"  ng-init="selectedCount = cartCtrl.counts[0]" ng-options="x for x in cartCtrl.counts"></select> -->

    <!-- <input type="button" ng-click="addItemToCart(cartCtrl.itemdetails)" value="{{'Add' | translate}}" ng-show="displayAdd" ng-disabled="disableAdd"  data-lity-close> -->

    <div class="col-sm-6 col-xs-6 col-md-6 ">
        <h3>


            {{cartCtrl.itemdetails.itemName}}
        </h3>
        <p>{{cartCtrl.itemdetails.itemDescription}}</p>
        <div class="col-sm-6 col-xs-6 col-md-6">
            <div class="menu_plus"> 
                <!-- <p ng-repeat="size in cartCtrl.itemdetails.sizes" >
                    {{size.price}}
                    <span>{{size.sizeName}}</span>
                    <input type="radio"    ng-model="selectedSize" ng-click="radioSizeClick(size)" name="name" required />
                </p>
                 -->
            
               <!--   <br>
              <div>Selected : {{checkradioasd}}</div> -->

            </div> 
            <!--<div class="menu_plus" style="margin-top: 41px;">
                <h3>Side Items</h3>
                {{cartCtrl.itemdetails.sides[0].sideItemName}}

                <p ng-repeat="side in cartCtrl.itemdetails.sideItems">

                    <span>{{side.sideItemName}}</span>
                    <span>{{side.value}}</span>
                    <input type="checkbox" ng-model="selectedSide" ng-click="checkSideClick(side)" name="name" required>
                </p>
                * Please note the Max Side Item Value : {{itemCtrl.itemDetails.maxSideItemValue}}

            </div>-->
        </div>
    </div>

    <!-- <div class="col-sm-6 col-xs-6 col-md-6">
        <p>simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has
            been the industry's standard dummy t
            ext ever since the 1500s, when an unknown ....
        </p>
    </div> -->
</div>
